spring:
  application:
    name: configserver
  cloud:
    config:
      server:
        git:
          uri: ${CONFIG_SERVER_GIT_URI}
          default-label: main
          timeout: 10
          clone-on-start: true
          username: ${CONFIG_SERVER_GIT_USERNAME}
          password: ${CONFIG_SERVER_GIT_PASSWORD}
  #main:
  #show_banner: "off"

server:
  port: 8181

logging:
  level:
    root: ERROR
    org:
      springframework:
        cloud: ERROR
        web: ERROR

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
