name: build-and-publish-images

on:
  workflow_dispatch:
  workflow_run:
    workflows: [test]
    types: [completed]
    branches: [main]

jobs:
  build-and-publish-backend:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dockerfile: [
          { path: './backend/auth', name: 'letslive-auth', context: './backend/auth' },
          { path: './backend/user', name: 'letslive-user', context: './backend/user' },
          { path: './backend/transcode', name: 'letslive-transcode', context: './backend/transcode' },
          { path: './backend/livestream', name: 'letslive-livestream', context: './backend/livestream' },
          { path: './backend/configserver', name: 'letslive-configserver', context: './backend/configserver' },
          { path: './backend/chat', name: 'letslive-chat', context: './backend/chat' },
        ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.dockerfile.context }}
          file: ${{ matrix.dockerfile.path }}/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.dockerfile.name }}:latest

  build-and-publish-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./ui
          file: ./ui/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/letslive-ui:latest
          secrets: |
            id=SENTRY_AUTH_TOKEN,env=SENTRY_AUTH_TOKEN
