name: test

on:
  push:
  pull_request:

jobs:
  test-chat-nodejs-service:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x]

    steps:
    - uses: actions/checkout@v6
    - name: test chat service with Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: "./backend/chat"
    - run: npm ci
      working-directory: "./backend/chat"
    - run: npm test
      working-directory: "./backend/chat"

  test-go-services:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service: [auth, transcode, livestream, user]  # list of go services

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Install dependencies
        run: go mod tidy
        working-directory: backend/${{ matrix.service }}

      - name: Run tests
        run: go test -v ./...
        working-directory: backend/${{ matrix.service }}
